*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env

#Link to the data set on OneDrive
https://1drv.ms/u/s!AsFACbquQ8BnxiMTtektdyebUoak?e=Q8cYQU
https://1drv.ms/u/s!AsFACbquQ8BnzGgnHny4QAthVtEg?e=7WM4s8
