*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env

#Link to the data set on OneDrive
https://1drv.ms/u/s!AsFACbquQ8BnzGnvu3SR3WmnlKID?e=DqN6Vc

#Ignoring Jupyterbnotebook and large numpy array files.
*.ipynb
*.npy